{% extends 'base.html' %}

{% block title %}POS{% endblock %}

{% block content %}

<!-- LEFT SIDE: PRODUCTS -->
<div class="col-md-8 p-3">
    <input type="text" id="productSearch"
           class="form-control form-control-sm mb-3"
           placeholder="Search products..."
           onkeyup="searchProducts()">

    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-3 product-item"
             data-department="{{ product.department }}"
             data-category="{{ product.category }}">

            <div class="card product-card shadow-sm"
                 onclick="addToCart('{{ product.id }}', '{{ product.name }}', {{ product.price }})">

                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top product-img">
                {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top product-img">
                {% endif %}

                <div class="card-body text-center">
                    <h6>{{ product.name }}</h6>
                    <span class="text-muted">{{ product.category }}</span><br>
                    <span class="text-muted">{{ product.department }}</span><br>
                    <span class="text-muted">{{ product.stock }} in stock</span><br>
                    <strong>KES {{ product.price }}</strong>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- RIGHT SIDE: CART -->
<div class="col-md-4 bg-white p-3 cart-panel shadow mt-3">

    <h4>🧾 Cart</h4>
    <hr>

    <form method="POST" id="saleForm">
        {% csrf_token %}
        <div id="cartItems"></div>

        <hr>
        <h5>Total: KES <span id="total">0</span></h5>

        <button class="btn btn-success w-100 mt-3">
            Complete Sale
        </button>
    </form>

</div>

{% endblock %}